body {
    font-family: 'Fredoka', Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.title-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center
}


.sticky-bar {
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
}

.title {
    font-size: large;
}

.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: fit-content;
}

.top-menu-item {
    padding-left: 1em;
    padding-right: 1em
}

.horizontal-rule {
    width: 100%;
}

main {
    padding-left: 10%;
    padding-right: 10%  
}

.intro {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
}

h4 {
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    flex: 200px;
    padding: 15px;
    border: 5px solid gray;
}

em {
    display: inline-block;
    left: -10px;
}

.intro-right {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    flex: 1 0 200px;
    padding: 0;
    margin: 20px;
}

.profile-pic {
    position: relative;
    width: 200px;
    height: 200px;
    left: 20px;
}

button {
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-style: dashed;
    outline-color: lightskyblue;
    padding-left: 50px;
    padding-right: 50px;
    padding: 5px;
    border-radius: 15px;
    margin-top: 20px;
}

button:hover {
    background-color: lightskyblue;
    cursor: pointer
}

.keywords-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 10px;
}

.keywords-skills #externallink {
    flex: 50px;
    border-radius: 5px;
    background-color: lightskyblue;
    padding: 10px;
    text-align: center;
}

.keywords-skills #singleskill {
    flex: 50px;
    border-radius: 5px;
    background-color: palegreen;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .intro-right {
      display: none;
    }
    
    .title-bar {
        justify-content: center;
    }
    
    .top-menu {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: min-content;
    }

    .top-menu-item {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .card {
        width: 100%;
    }
}