body {
    font-family: 'Fredoka', 'Arial Narrow', Arial, sans-serif;
}

.title-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.sticky-bar {
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
}

.title {
    font-size: large;
}

.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}

.top-menu-item {
    padding-left: 1em;
    padding-right: 1em
}
